.product{
    width: 250px;
    height:470px ;
    border: 1px solid  rgb(207, 223, 236);
    border-radius: 10px;
    padding: 5px;
    position: relative;
}
.product img{
    width: 220px;
    height: 250px;
 
    margin-top: 15px;
}
.cart-btn{
    width: 100%;
    background-color: rgb(207, 223, 236);
    border: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius:0px 0px 10px  10px;
    display: flex;
    align-items: center;
    justify-content:center ;
    
}
.cart-text{
    padding-right: 5px;
}